technical_skills
<div *ngFor="let type of main_types">
    <ul type="none">
        <div class="card-deck">
            <li *ngFor="let skill of type">
                <div class="card">
                    <img src="{{skill.icon}}" alt="{{skill.name}}_image" style="width: 13vw;" class="img-thumbnail">
                    <div title="{{skill.name}}" class="card-body">
                        <span> {{skill.name}}</span>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
