<div>
    <p>personal-profile..............</p>
    <ul type="none">
        <li *ngFor="let element of personal_skills">
            <p>{{element}}</p>
        </li>
    </ul>
    hobbies_interests
    <ul type="none">
        <li *ngFor="let element of hobbies_interests">
            <p>{{element}}</p>
        </li>
    </ul>
    languages
    <ul>
        <li>
            <p>English: {{languages.English}}</p>
        </li>
        <li>
            <p>Hindi: {{languages.Hindi}}</p>
        </li>
        <li>
            <p>Marathi: {{languages.Marathi}}</p>
        </li>
    </ul>
</div>