.not-found {
    text-align: center;
    margin-top: 50px;
}

.not-found h1 {
    font-size: 3rem;
    color: #ff0000;
}

.not-found p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.not-found a {
    text-decoration: none;
    color: #fff;
}