<nav>
    navbar<br/>
    <a href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="0 0 160 160">
      <defs>
          <style>
            .cls-1 {
              font-size: 150px;
              fill: #007df1;
              font-family: Calibri;
              font-weight: 700;
              font-style: italic;
            }
      
            .cls-2 {
              fill: #fc843c;
            }
          </style>
        </defs>
        <g id="Artboard_1" data-name="Artboard 1">
          <text id="ST" class="cls-1" y="100" x="5">S<tspan class="cls-2">T</tspan></text>
        </g>
      </svg>
      </a>
    <ul>
        <li>
            Skills
        </li>
        <li>
            Tools
        </li>
        <li>
            Works done
        </li>
        <li>
            Contact
        </li>
        <li>
            Landing pages
        </li>
    </ul>
</nav>