<div class="table-responsive">
    <table class="table table-bordered">
        <tr *ngFor="let course of academic_Synopsis">
            <th>{{course.year}}</th>
            <td>
                <span *ngIf="course.name!='graduation';else branch">{{course.name}}({{course.course}})</span>
                <ng-template #branch>{{course.course}}({{course.stream}})</ng-template>
                <br>
                <span *ngIf="course.cgpa">CGPA </span>{{course.marks}}{{course.cgpa}}
            </td>
            <td><span class="p3text">{{course.university}}</span>
                <br>{{course.institute}}
            </td>
        </tr>
    </table>
</div>