/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';


.p3text {
    color: rgb(56, 155, 255);
}

.landingviewer{
    border: 2px solid black;
    height: 70vh;
    width: 12 * $width;
    overflow: scroll;
    zoom: 80%;
    margin: 10px 0 10px 0;
}

.q{
    background-image: url("../mgs/mgs\ \(22\).jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
  height: 70vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.a {
    box-sizing: border-box;
    background: rgb(0 100 0/0.1) !important;
}