/* You can add global styles to this file, and also import other style files */

.max_height_parent {
    overflow: auto;
    max-height: 100%;
}

.height_parent {
    height: 100%;
}

.row-margin-fix {
    margin-left: -1.5rem !important;

    >* {
        padding-right: 0.2rem !important;
    }
}

* {
    div> :not(.cursor, .selected-text, .monaco-mouse-cursor-text, .margin, .lines-content, .bot_chat_content, .has-selection) {
        //max-height: 100%;
        //max-width: 100%;
    }

    scrollbar-width: thin !important;
}

button {
    margin-right: 0.5vw;
}

.scrollable {
    overflow-y: auto !important;
}

.flex_row {
    display: flex;
}

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex_row_spaceinbetween {
    display: flex !important;
    justify-content: space-between !important;
}

.flex_col_rev {
    display: flex;
    flex-direction: column-reverse;
}

.flex_col {
    display: flex;
    flex-direction: column;
}


//old stylessssssssssss
/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';


.p3text {
    color: rgb(56, 155, 255);
}

.landingviewer{
    border: 2px solid black;
    height: 70vh;
    width: 12 * $width;
    overflow: scroll;
    zoom: 80%;
    margin: 10px 0 10px 0;
}

.q{
    background-image: url("./assets/mgs/mgs\ \(22\).jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
  height: 70vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.a {
    box-sizing: border-box;
    background: rgb(0 100 0/0.1) !important;
}