<p>left-index works!</p>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>indexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>indexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>indexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>
<h5>index</h5>